/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  height: calc(100% - 64px);
}

.mat-form-field .mat-form-field-infix input {
  line-height: 17px;
}
